*{
    background-color: green;
}
h1{
    font-size: 5vh;
    color: lime;
}
h2{
    font-size: 2vh;
}
h3{
    font-size: 2vh;
}
p {
    font-size: 2vh;
}
.moods{
    font-size: 2vh;
}
li{
    font-size: 3rem;
    font-weight: bold;
    
}
.card-wrapper > .card {
    width: 32%;
    box-sizing: border-box;
  }
  .card-wrapper {
    padding-top: 10rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .card {
    border-radius: 7px;
    border: 0.05rem solid black;
    overflow: hidden;
  }